src/lib/flow-ieee14.json
[
    {
        "id": "28664c9fe7a35e11",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bce1d9c4f2185614",
        "type": "bus-data",
        "z": "28664c9fe7a35e11",
        "name": "BUS 12",
        "base_kv": "138.0",
        "code": "1",
        "area_num": "2",
        "zone_num": "2",
        "owner_num": "2",
        "voltage": "0.9778",
        "angle": "-17.98",
        "normal_vmax": "1.0500",
        "normal_vmin": "0.9000",
        "emergency_vmax": "1.1000",
        "emergency_vmin": "0.9500",
        "x": 1620,
        "y": 960,
        "wires": [
            [
                "55cc744447edcedf",
                "224f7f042f8eb69d"
            ]
        ]
    },
    {
        "id": "864435561a6cd5a8",
        "type": "bus-data",
        "z": "28664c9fe7a35e11",
        "name": "BUS 13",
        "base_kv": "138.0",
        "code": "1",
        "area_num": "2",
        "zone_num": "2",
        "owner_num": "2",
        "voltage": "0.9732",
        "angle": "-18.16",
        "normal_vmax": "1.0500",
        "normal_vmin": "0.9000",
        "emergency_vmax": "1.1000",
        "emergency_vmin": "0.9500",
        "x": 820,
        "y": 1040,
        "wires": [
            [
                "b4964531d1c0c68c",
                "5bd5912cbee818bc"
            ]
        ]
    },
    {
        "id": "8439764c1d6cbcc2",
        "type": "bus-data",
        "z": "28664c9fe7a35e11",
        "name": "BUS 14",
        "base_kv": "138.0",
        "code": "1",
        "area_num": "2",
        "zone_num": "2",
        "owner_num": "2",
        "voltage": "0.9639",
        "angle": "-19.68",
        "normal_vmax": "1.0500",
        "normal_vmin": "0.9000",
        "emergency_vmax": "1.1000",
        "emergency_vmin": "0.9500",
        "x": 1280,
        "y": 1240,
        "wires": [
            [
                "7be84d46ef493e46"
            ]
        ]
    },
    {
        "id": "391f7027240f354d",
        "type": "bus-data",
        "z": "28664c9fe7a35e11",
        "name": "BUS 11",
        "base_kv": "138.0",
        "code": "1",
        "area_num": "2",
        "zone_num": "2",
        "owner_num": "2",
        "voltage": "0.9789",
        "angle": "-17.43",
        "normal_vmax": "1.0500",
        "normal_vmin": "0.9000",
        "emergency_vmax": "1.1000",
        "emergency_vmin": "0.9500",
        "x": 840,
        "y": 820,
        "wires": [
            [
                "aef0a48e667b69b1"
            ]
        ]
    },
    {
        "id": "0fa21818897644f3",
        "type": "bus-data",
        "z": "28664c9fe7a35e11",
        "name": "BUS 10",
        "base_kv": "138.0",
        "code": "1",
        "area_num": "2",
        "zone_num": "2",
        "owner_num": "2",
        "voltage": "0.9727",
        "angle": "-17.64",
        "normal_vmax": "1.0500",
        "normal_vmin": "0.9000",
        "emergency_vmax": "1.1000",
        "emergency_vmin": "0.9500",
        "x": 1220,
        "y": 760,
        "wires": [
            [
                "f11ab0787627dfc7",
                "5fc3e59f5643091a"
            ]
        ]
    },
    {
        "id": "893011a3a0981d82",
        "type": "bus-data",
        "z": "28664c9fe7a35e11",
        "name": "BUS 9",
        "base_kv": "138.0",
        "code": "1",
        "area_num": "2",
        "zone_num": "2",
        "owner_num": "2",
        "voltage": "0.9780",
        "angle": "-17.39",
        "normal_vmax": "1.0500",
        "normal_vmin": "0.9000",
        "emergency_vmax": "1.1000",
        "emergency_vmin": "0.9500",
        "x": 1270,
        "y": 600,
        "wires": [
            [
                "53ea6afb23d1b1c8",
                "045bba6e50752d4e",
                "8f3b4ee60275b04a"
            ]
        ]
    },
    {
        "id": "6633938d2b1b0fef",
        "type": "bus-data",
        "z": "28664c9fe7a35e11",
        "name": "BUS 7",
        "base_kv": "138.0",
        "code": "1",
        "area_num": "2",
        "zone_num": "2",
        "owner_num": "2",
        "voltage": "0.9952",
        "angle": "-15.34",
        "normal_vmax": "1.0500",
        "normal_vmin": "0.9000",
        "emergency_vmax": "1.1000",
        "emergency_vmin": "0.9500",
        "x": 870,
        "y": 500,
        "wires": [
            [
                "7b66c19a90390bc7",
                "8487b7aa57c8fd28"
            ]
        ]
    },
    {
        "id": "95306f5396664694",
        "type": "bus-data",
        "z": "28664c9fe7a35e11",
        "name": "BUS 4",
        "base_kv": "69.0",
        "code": "1",
        "area_num": "1",
        "zone_num": "1",
        "owner_num": "1",
        "voltage": "0.9830",
        "angle": "-11.48",
        "normal_vmax": "1.0500",
        "normal_vmin": "0.9000",
        "emergency_vmax": "1.1000",
        "emergency_vmin": "0.9500",
        "x": 710,
        "y": 380,
        "wires": [
            [
                "22b4062ae6171a18",
                "77b2978cf92599f7",
                "31bdac7807fa81e2"
            ]
        ]
    },
    {
        "id": "327b45e61c1d4511",
        "type": "bus-data",
        "z": "28664c9fe7a35e11",
        "name": "BUS 3",
        "base_kv": "69.0",
        "code": "2",
        "area_num": "1",
        "zone_num": "1",
        "owner_num": "1",
        "voltage": "0.9864",
        "angle": "-14.10",
        "normal_vmax": "1.0500",
        "normal_vmin": "0.9000",
        "emergency_vmax": "1.1000",
        "emergency_vmin": "0.9500",
        "x": 810,
        "y": 340,
        "wires": [
            [
                "16773ffef2e628f8",
                "5562b094c20145c0"
            ]
        ]
    },
    {
        "id": "5341f1014aaa5242",
        "type": "bus-data",
        "z": "28664c9fe7a35e11",
        "name": "BUS 6",
        "base_kv": "138.0",
        "code": "2",
        "area_num": "2",
        "zone_num": "2",
        "owner_num": "2",
        "voltage": "0.9927",
        "angle": "-16.92",
        "normal_vmax": "1.0500",
        "normal_vmin": "0.9000",
        "emergency_vmax": "1.1000",
        "emergency_vmin": "0.9500",
        "x": 470,
        "y": 580,
        "wires": [
            [
                "56b3c59b70f2b1ae",
                "4ba3670ffb0dab49",
                "254569bfa77311cf"
            ]
        ]
    },
    {
        "id": "20d24c4033c17891",
        "type": "bus-data",
        "z": "28664c9fe7a35e11",
        "name": "BUS 5",
        "base_kv": "69.0",
        "code": "1",
        "area_num": "1",
        "zone_num": "1",
        "owner_num": "1",
        "voltage": "0.9873",
        "angle": "-9.83",
        "normal_vmax": "1.0500",
        "normal_vmin": "0.9000",
        "emergency_vmax": "1.1000",
        "emergency_vmin": "0.9500",
        "x": 810,
        "y": 260,
        "wires": [
            [
                "a55c6dc798649eac",
                "46e1e6427bd4cac6",
                "a0816c30e6c93812",
                "f45c3408d6bf165a"
            ]
        ]
    },
    {
        "id": "c03e901867b3e9a3",
        "type": "bus-data",
        "z": "28664c9fe7a35e11",
        "name": "BUS 1",
        "base_kv": "69.0",
        "code": "3",
        "area_num": "1",
        "zone_num": "1",
        "owner_num": "1",
        "voltage": "1.0300",
        "angle": "0.00",
        "normal_vmax": "1.0500",
        "normal_vmin": "0.9000",
        "emergency_vmax": "1.1000",
        "emergency_vmin": "0.9500",
        "x": 730,
        "y": 80,
        "wires": [
            [
                "fbb225cfbab4517f",
                "bf0ac6f4a5ea5483",
                "83879fefa171c2dd"
            ]
        ]
    },
    {
        "id": "a55c6dc798649eac",
        "type": "bus-data",
        "z": "28664c9fe7a35e11",
        "name": "BUS 2",
        "base_kv": "69.0",
        "code": "2",
        "area_num": "2",
        "zone_num": "1",
        "owner_num": "1",
        "voltage": "1.0070",
        "angle": "-5.43",
        "normal_vmax": "1.0500",
        "normal_vmin": "0.9000",
        "emergency_vmax": "1.1000",
        "emergency_vmin": "0.9500",
        "x": 510,
        "y": 240,
        "wires": [
            [
                "fbb225cfbab4517f",
                "fc2bf92eb2b87561",
                "410a968979401323",
                "f5bf3962f64b38fb"
            ]
        ]
    },
    {
        "id": "12d1991a07b103a7",
        "type": "generator-data",
        "z": "28664c9fe7a35e11",
        "name": " Gen 5",
        "Bus_Number": " 8",
        "PGen_MW": " 0.0000",
        "QGen_Mvar": " 24.0000",
        "QMax_Mvar": " 24.0000",
        "QMin_Mvar": " -6.0000",
        "VSched_pu": " 1.0900",
        "Remote_Bus": " 0",
        "Mbase_MVA": " 30.00",
        "R_Source_pu": " 0.000000",
        "X_Source_pu": " 0.340000",
        "RTran_pu": "  0.000000",
        "XTran_pu": "  0.000000",
        "Gentap_pu": " 1.00000",
        "x": 450,
        "y": 640,
        "wires": [
            [
                "5fc2a4c0742b67b3"
            ]
        ]
    },
    {
        "id": "d186585527c20df6",
        "type": "generator-data",
        "z": "28664c9fe7a35e11",
        "name": " Gen 3",
        "Bus_Number": " 3",
        "PGen_MW": " 0.0000",
        "QGen_Mvar": " 40.0000",
        "QMax_Mvar": "  40.0000",
        "QMin_Mvar": " -10.0000",
        "VSched_pu": " 1.0100",
        "Remote_Bus": "  0",
        "Mbase_MVA": " 50.00",
        "R_Source_pu": " 0.000000",
        "X_Source_pu": " 0.340000",
        "RTran_pu": "  0.000000",
        "XTran_pu": "  0.000000",
        "Gentap_pu": " 1.00000",
        "x": 450,
        "y": 340,
        "wires": [
            [
                "327b45e61c1d4511"
            ]
        ]
    },
    {
        "id": "9197083d0c88a8ca",
        "type": "generator-data",
        "z": "28664c9fe7a35e11",
        "name": " Gen 2",
        "Bus_Number": " 2",
        "PGen_MW": " 40.0000",
        "QGen_Mvar": " 20.0000",
        "QMax_Mvar": "  20.0000",
        "QMin_Mvar": " -40.0000",
        "VSched_pu": " 1.0300",
        "Remote_Bus": " 0",
        "Mbase_MVA": " 55.00",
        "R_Source_pu": " 0.000000",
        "X_Source_pu": " 0.280000",
        "RTran_pu": "  0.000000",
        "XTran_pu": "  0.000000",
        "Gentap_pu": " 1.00000",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "a55c6dc798649eac"
            ]
        ]
    },
    {
        "id": "9c03babffe06b956",
        "type": "generator-data",
        "z": "28664c9fe7a35e11",
        "name": " Gen 4",
        "Bus_Number": " 6",
        "PGen_MW": " 0.0000",
        "QGen_Mvar": " 24.0000",
        "QMax_Mvar": "  24.0000",
        "QMin_Mvar": " -6.0000",
        "VSched_pu": " 1.3000",
        "Remote_Bus": " 0",
        "Mbase_MVA": " 30.00",
        "R_Source_pu": " 0.000000",
        "X_Source_pu": " 0.280000",
        "RTran_pu": " 0.000000",
        "XTran_pu": "  0.000000",
        "Gentap_pu": " 1.00000",
        "x": 450,
        "y": 500,
        "wires": [
            [
                "5341f1014aaa5242"
            ]
        ]
    },
    {
        "id": "fbb225cfbab4517f",
        "type": "load-data",
        "z": "28664c9fe7a35e11",
        "name": "Load 1",
        "bus_number": " 2",
        "area_num": " 1",
        "zone_num": " 1",
        "owner_num": " 1",
        "Pload_MW": " 21.700",
        "Qload_Mvar": " 12.700",
        "IPload_MW": " 0.00",
        "IQload_Mvar": " 0.00",
        "YPload_MW": " 0.00",
        "YQload_Mvar": " 0.00",
        "x": 1370,
        "y": 160,
        "wires": [
            [
                "fd9665b5896adbfa"
            ]
        ]
    },
    {
        "id": "16773ffef2e628f8",
        "type": "load-data",
        "z": "28664c9fe7a35e11",
        "name": "Load 2",
        "bus_number": " 3",
        "area_num": " 1",
        "zone_num": " 1",
        "owner_num": " 1",
        "Pload_MW": " 94.2000",
        "Qload_Mvar": " 19.0000",
        "IPload_MW": " 0.0000",
        "IQload_Mvar": " 0.0000",
        "YPload_MW": " 0.0000",
        "YQload_Mvar": " 0.0000",
        "x": 1370,
        "y": 240,
        "wires": [
            [
                "fd9665b5896adbfa"
            ]
        ]
    },
    {
        "id": "22b4062ae6171a18",
        "type": "load-data",
        "z": "28664c9fe7a35e11",
        "name": "Load 3",
        "bus_number": " 4",
        "area_num": " 1",
        "zone_num": " 1",
        "owner_num": " 1",
        "Pload_MW": " 47.8000",
        "Qload_Mvar": " -3.9000",
        "IPload_MW": " 0.0000",
        "IQload_Mvar": " 0.0000",
        "YPload_MW": " 0.0000",
        "YQload_Mvar": " 0.0000",
        "x": 1370,
        "y": 320,
        "wires": [
            [
                "fd9665b5896adbfa"
            ]
        ]
    },
    {
        "id": "5fc2a4c0742b67b3",
        "type": "bus-data",
        "z": "28664c9fe7a35e11",
        "name": "BUS 8",
        "base_kv": "69.0",
        "code": "2",
        "area_num": "2",
        "zone_num": "2",
        "owner_num": "2",
        "voltage": "1.0360",
        "angle": "-15.34",
        "normal_vmax": "1.0500",
        "normal_vmin": "0.9000",
        "emergency_vmax": "1.1000",
        "emergency_vmin": "0.9500",
        "x": 870,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "46e1e6427bd4cac6",
        "type": "load-data",
        "z": "28664c9fe7a35e11",
        "name": "Load 4",
        "bus_number": " 5",
        "area_num": " 1",
        "zone_num": " 1",
        "owner_num": " 1",
        "Pload_MW": " 7.6000",
        "Qload_Mvar": "  1.6000",
        "IPload_MW": " 0.0000",
        "IQload_Mvar": " 0.0000",
        "YPload_MW": " 0.0000",
        "YQload_Mvar": " 0.0000",
        "x": 1370,
        "y": 400,
        "wires": [
            [
                "fd9665b5896adbfa"
            ]
        ]
    },
    {
        "id": "4dc16cbf204872aa",
        "type": "load-data",
        "z": "28664c9fe7a35e11",
        "name": "Load 5",
        "bus_number": " 6",
        "area_num": " 2",
        "zone_num": " 2",
        "owner_num": " 2",
        "Pload_MW": " 15.0000",
        "Qload_Mvar": " 7.5000",
        "IPload_MW": " 0.0000",
        "IQload_Mvar": " 0.0000",
        "YPload_MW": " 0.0000",
        "YQload_Mvar": "0.0000",
        "x": 1370,
        "y": 500,
        "wires": [
            [
                "fd9665b5896adbfa"
            ]
        ]
    },
    {
        "id": "53ea6afb23d1b1c8",
        "type": "load-data",
        "z": "28664c9fe7a35e11",
        "name": "Load 6",
        "bus_number": " 9",
        "area_num": " 2",
        "zone_num": " 2",
        "owner_num": " 2",
        "Pload_MW": " 29.5000",
        "Qload_Mvar": " 16.6000",
        "IPload_MW": " 0.0000",
        "IQload_Mvar": " 0.0000",
        "YPload_MW": " 0.0000",
        "YQload_Mvar": " 0.0000",
        "x": 1370,
        "y": 720,
        "wires": [
            [
                "fd9665b5896adbfa"
            ]
        ]
    },
    {
        "id": "f11ab0787627dfc7",
        "type": "load-data",
        "z": "28664c9fe7a35e11",
        "name": "Load 7",
        "bus_number": " 10",
        "area_num": " 2",
        "zone_num": " 2",
        "owner_num": " 2",
        "Pload_MW": " 9.0000",
        "Qload_Mvar": " 5.8000",
        "IPload_MW": " 0.0000",
        "IQload_Mvar": " 0.0000",
        "YPload_MW": " 0.0000",
        "YQload_Mvar": " 0.0000",
        "x": 1370,
        "y": 800,
        "wires": [
            [
                "fd9665b5896adbfa"
            ]
        ]
    },
    {
        "id": "aef0a48e667b69b1",
        "type": "load-data",
        "z": "28664c9fe7a35e11",
        "name": "Load 8",
        "bus_number": " 11",
        "area_num": " 2",
        "zone_num": " 2",
        "owner_num": " 2",
        "Pload_MW": " 3.5000",
        "Qload_Mvar": " 1.8000",
        "IPload_MW": " 0.0000",
        "IQload_Mvar": " 0.0000",
        "YPload_MW": " 0.0000",
        "YQload_Mvar": " 0.0000",
        "x": 1370,
        "y": 880,
        "wires": [
            [
                "fd9665b5896adbfa"
            ]
        ]
    },
    {
        "id": "55cc744447edcedf",
        "type": "load-data",
        "z": "28664c9fe7a35e11",
        "name": "Load 9",
        "bus_number": " 12",
        "area_num": " 2",
        "zone_num": " 2",
        "owner_num": " 2",
        "Pload_MW": " 6.1000",
        "Qload_Mvar": " 1.6000",
        "IPload_MW": " 0.0000",
        "IQload_Mvar": " 0.0000",
        "YPload_MW": " 0.0000",
        "YQload_Mvar": " 0.0000",
        "x": 1370,
        "y": 960,
        "wires": [
            [
                "fd9665b5896adbfa"
            ]
        ]
    },
    {
        "id": "b4964531d1c0c68c",
        "type": "load-data",
        "z": "28664c9fe7a35e11",
        "name": "Load 10",
        "bus_number": " 13",
        "area_num": " 2",
        "zone_num": " 2",
        "owner_num": " 2",
        "Pload_MW": " 13.5000",
        "Qload_Mvar": " 5.8000",
        "IPload_MW": " 0.0000",
        "IQload_Mvar": " 0.0000",
        "YPload_MW": " 0.0000",
        "YQload_Mvar": " 0.0000",
        "x": 1380,
        "y": 1040,
        "wires": [
            [
                "fd9665b5896adbfa"
            ]
        ]
    },
    {
        "id": "7be84d46ef493e46",
        "type": "load-data",
        "z": "28664c9fe7a35e11",
        "name": "Load 11",
        "bus_number": " 14",
        "area_num": " 2",
        "zone_num": " 2",
        "owner_num": " 2",
        "Pload_MW": " 20.0000",
        "Qload_Mvar": " 7.0000",
        "IPload_MW": " 0.0000",
        "IQload_Mvar": " 0.0000",
        "YPload_MW": " 0.0000",
        "YQload_Mvar": " 0.0000",
        "x": 1380,
        "y": 1120,
        "wires": [
            [
                "fd9665b5896adbfa"
            ]
        ]
    },
    {
        "id": "e5dbdadeff4a80dc",
        "type": "inject",
        "z": "28664c9fe7a35e11",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "9197083d0c88a8ca",
                "d186585527c20df6",
                "9c03babffe06b956",
                "12d1991a07b103a7",
                "a1ed2f688c99a2f7"
            ]
        ]
    },
    {
        "id": "fd9665b5896adbfa",
        "type": "debug",
        "z": "28664c9fe7a35e11",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1880,
        "y": 580,
        "wires": []
    },
    {
        "id": "bf0ac6f4a5ea5483",
        "type": "branch-data",
        "z": "28664c9fe7a35e11",
        "name": "Branch 1",
        "from_bus_number": "1",
        "to_bus_number": "2",
        "line_r": "0.019380",
        "line_x": "0.059170",
        "charging_b": "0.052800",
        "rate_1": "0.0",
        "rate_2": "0.0",
        "rate_3": "0.0",
        "line_g_from": "0.00000",
        "line_b_from": "0.00000",
        "line_g_to": "0.00000",
        "line_b_to": "0.00000",
        "length": "0.000",
        "owner_1": "1",
        "fraction_1": "1.000",
        "x": 1060,
        "y": 120,
        "wires": [
            [
                "a55c6dc798649eac"
            ]
        ]
    },
    {
        "id": "83879fefa171c2dd",
        "type": "branch-data",
        "z": "28664c9fe7a35e11",
        "name": "Branch 2",
        "from_bus_number": "1",
        "to_bus_number": "5",
        "line_r": "0.05403001",
        "line_x": "0.22304",
        "charging_b": "0.0492",
        "rate_1": "0.0",
        "rate_2": "0.0",
        "rate_3": "0.0",
        "line_g_from": "0.00000",
        "line_b_from": "0.00000",
        "line_g_to": "0.00000",
        "line_b_to": "0.00000",
        "length": "0.000",
        "owner_1": "1",
        "fraction_1": "1.000",
        "x": 1060,
        "y": 180,
        "wires": [
            [
                "20d24c4033c17891"
            ]
        ]
    },
    {
        "id": "fc2bf92eb2b87561",
        "type": "branch-data",
        "z": "28664c9fe7a35e11",
        "name": "Branch 3",
        "from_bus_number": "2",
        "to_bus_number": "3",
        "line_r": "0.04699",
        "line_x": "0.19797",
        "charging_b": "0.0438",
        "rate_1": "0.0",
        "rate_2": "0.0",
        "rate_3": "0.0",
        "line_g_from": "0.00000",
        "line_b_from": "0.00000",
        "line_g_to": "0.00000",
        "line_b_to": "0.00000",
        "length": "0",
        "owner_1": "1",
        "fraction_1": "1.000",
        "x": 1060,
        "y": 240,
        "wires": [
            [
                "20d24c4033c17891"
            ]
        ]
    },
    {
        "id": "410a968979401323",
        "type": "branch-data",
        "z": "28664c9fe7a35e11",
        "name": "Branch 4",
        "from_bus_number": "2",
        "to_bus_number": "4",
        "line_r": "0.05810999",
        "line_x": "0.17632",
        "charging_b": "0.034",
        "rate_1": "0.0",
        "rate_2": "0.0",
        "rate_3": "0.0",
        "line_g_from": "0.000000",
        "line_b_from": "00.000000",
        "line_g_to": "0.000000",
        "line_b_to": "0.000000",
        "length": "0",
        "owner_1": "1",
        "fraction_1": "1.000",
        "x": 1060,
        "y": 300,
        "wires": [
            [
                "327b45e61c1d4511"
            ]
        ]
    },
    {
        "id": "f5bf3962f64b38fb",
        "type": "branch-data",
        "z": "28664c9fe7a35e11",
        "name": "Branch 5",
        "from_bus_number": "2",
        "to_bus_number": "5",
        "line_r": "0.05695",
        "line_x": "0.17388",
        "charging_b": "0.0346",
        "rate_1": "0.0",
        "rate_2": "0.0",
        "rate_3": "0.0",
        "line_g_from": "0.00000",
        "line_b_from": "0.00000",
        "line_g_to": "0.00000",
        "line_b_to": "0.00000",
        "length": "0",
        "owner_1": "1",
        "fraction_1": "1.000",
        "x": 1060,
        "y": 360,
        "wires": [
            [
                "95306f5396664694"
            ]
        ]
    },
    {
        "id": "5562b094c20145c0",
        "type": "branch-data",
        "z": "28664c9fe7a35e11",
        "name": "Branch 6",
        "from_bus_number": "3",
        "to_bus_number": "4",
        "line_r": "0.06701",
        "line_x": "0.17103",
        "charging_b": "0.0128",
        "rate_1": "0.0",
        "rate_2": "0.0",
        "rate_3": "0.0",
        "line_g_from": "0.00000",
        "line_b_from": "0.00000",
        "line_g_to": "0.00000",
        "line_b_to": "0.00000",
        "length": "0",
        "owner_1": "1",
        "fraction_1": "1.000",
        "x": 1060,
        "y": 420,
        "wires": [
            [
                "95306f5396664694"
            ]
        ]
    },
    {
        "id": "a0816c30e6c93812",
        "type": "branch-data",
        "z": "28664c9fe7a35e11",
        "name": "Branch 7",
        "from_bus_number": "4",
        "to_bus_number": "5",
        "line_r": "0.01335",
        "line_x": "0.04211",
        "charging_b": "0.0000000",
        "rate_1": "0.0",
        "rate_2": "0.0",
        "rate_3": "0.0",
        "line_g_from": "0.000000",
        "line_b_from": "0.000000",
        "line_g_to": "0.000000",
        "line_b_to": "0.000000",
        "length": "0",
        "owner_1": "1",
        "fraction_1": "1.000",
        "x": 1060,
        "y": 480,
        "wires": [
            [
                "95306f5396664694"
            ]
        ]
    },
    {
        "id": "56b3c59b70f2b1ae",
        "type": "branch-data",
        "z": "28664c9fe7a35e11",
        "name": "Branch 8",
        "from_bus_number": "4",
        "to_bus_number": "7",
        "line_r": "0.000000",
        "line_x": "0.20912",
        "charging_b": "0.000000",
        "rate_1": "0.0",
        "rate_2": "0.0",
        "rate_3": "0.0",
        "line_g_from": "0.00000",
        "line_b_from": "0.00000",
        "line_g_to": "0.00000",
        "line_b_to": "0.00000",
        "length": "0",
        "owner_1": "1",
        "fraction_1": "1.000",
        "x": 1060,
        "y": 540,
        "wires": [
            [
                "391f7027240f354d"
            ]
        ]
    },
    {
        "id": "4ba3670ffb0dab49",
        "type": "branch-data",
        "z": "28664c9fe7a35e11",
        "name": "Branch 9",
        "from_bus_number": "4",
        "to_bus_number": "9",
        "line_r": "0.000000",
        "line_x": "0.55618",
        "charging_b": "0.000000",
        "rate_1": "0.0",
        "rate_2": "0.0",
        "rate_3": "0.0",
        "line_g_from": "0.00000",
        "line_b_from": "0.00000",
        "line_g_to": "0.00000",
        "line_b_to": "0.00000",
        "length": "0",
        "owner_1": "1",
        "fraction_1": "1.000",
        "x": 1060,
        "y": 600,
        "wires": [
            [
                "bce1d9c4f2185614"
            ]
        ]
    },
    {
        "id": "254569bfa77311cf",
        "type": "branch-data",
        "z": "28664c9fe7a35e11",
        "name": "Branch 10",
        "from_bus_number": "5",
        "to_bus_number": "6",
        "line_r": "0.000000",
        "line_x": "0.252020",
        "charging_b": "0.000000",
        "rate_1": "0.0",
        "rate_2": "0.0",
        "rate_3": "0.0",
        "line_g_from": "0.00000",
        "line_b_from": "0.00000",
        "line_g_to": "0.00000",
        "line_b_to": "0.00000",
        "length": "0",
        "owner_1": "1",
        "fraction_1": "1.000",
        "x": 1070,
        "y": 660,
        "wires": [
            [
                "864435561a6cd5a8"
            ]
        ]
    },
    {
        "id": "7b66c19a90390bc7",
        "type": "branch-data",
        "z": "28664c9fe7a35e11",
        "name": "Branch 11",
        "from_bus_number": "6",
        "to_bus_number": "11",
        "line_r": "0.09498001",
        "line_x": "0.1989",
        "charging_b": "0.000000   ",
        "rate_1": "0.0",
        "rate_2": "0.0",
        "rate_3": "0.0",
        "line_g_from": "0.00000",
        "line_b_from": "0.00000",
        "line_g_to": "0.00000",
        "line_b_to": "0.00000",
        "length": "0",
        "owner_1": "1",
        "fraction_1": "1.000",
        "x": 1060,
        "y": 720,
        "wires": [
            [
                "5fc2a4c0742b67b3"
            ]
        ]
    },
    {
        "id": "8487b7aa57c8fd28",
        "type": "branch-data",
        "z": "28664c9fe7a35e11",
        "name": "Branch 12",
        "from_bus_number": "6",
        "to_bus_number": "12",
        "line_r": "0.12291",
        "line_x": "0.25581",
        "charging_b": "0.000000",
        "rate_1": "0.0",
        "rate_2": "0.0",
        "rate_3": "0.0",
        "line_g_from": "0.000000",
        "line_b_from": "0.000000",
        "line_g_to": "0.000000",
        "line_b_to": "0.000000",
        "length": "0",
        "owner_1": "1",
        "fraction_1": "1.000",
        "x": 1070,
        "y": 780,
        "wires": [
            [
                "893011a3a0981d82"
            ]
        ]
    },
    {
        "id": "045bba6e50752d4e",
        "type": "branch-data",
        "z": "28664c9fe7a35e11",
        "name": "Branch 13",
        "from_bus_number": "6",
        "to_bus_number": "13",
        "line_r": "0.06615",
        "line_x": "0.13027",
        "charging_b": "0.000000",
        "rate_1": "0.0",
        "rate_2": "0.0",
        "rate_3": "0.0",
        "line_g_from": "0.00000",
        "line_b_from": "0.00000",
        "line_g_to": "0.00000",
        "line_b_to": "0.00000",
        "length": "0",
        "owner_1": "1",
        "fraction_1": "1.000",
        "x": 1070,
        "y": 840,
        "wires": [
            [
                "0fa21818897644f3"
            ]
        ]
    },
    {
        "id": "8f3b4ee60275b04a",
        "type": "branch-data",
        "z": "28664c9fe7a35e11",
        "name": "Branch 14",
        "from_bus_number": "7",
        "to_bus_number": "8",
        "line_r": "0.000000",
        "line_x": "0.17615",
        "charging_b": "0.000000",
        "rate_1": "0.0",
        "rate_2": "0.0",
        "rate_3": "0.0",
        "line_g_from": "0.00000",
        "line_b_from": "0.00000",
        "line_g_to": "0.00000",
        "line_b_to": "0.00000",
        "length": "0",
        "owner_1": "1",
        "fraction_1": "1.000",
        "x": 1070,
        "y": 900,
        "wires": [
            [
                "8439764c1d6cbcc2"
            ]
        ]
    },
    {
        "id": "5fc3e59f5643091a",
        "type": "branch-data",
        "z": "28664c9fe7a35e11",
        "name": "Branch 15",
        "from_bus_number": "7",
        "to_bus_number": "9",
        "line_r": "0.000000",
        "line_x": "0.11001",
        "charging_b": "0.000000",
        "rate_1": "0.0",
        "rate_2": "0.0",
        "rate_3": "0.0",
        "line_g_from": "0.00000",
        "line_b_from": "0.00000",
        "line_g_to": "0.00000",
        "line_b_to": "0.00000",
        "length": "0",
        "owner_1": "1",
        "fraction_1": "1.000",
        "x": 1070,
        "y": 960,
        "wires": [
            [
                "391f7027240f354d"
            ]
        ]
    },
    {
        "id": "224f7f042f8eb69d",
        "type": "branch-data",
        "z": "28664c9fe7a35e11",
        "name": "Branch 16",
        "from_bus_number": "9",
        "to_bus_number": "10",
        "line_r": "0.03181",
        "line_x": "0.0845",
        "charging_b": "0.000000",
        "rate_1": "0.0",
        "rate_2": "0.0",
        "rate_3": "0.0",
        "line_g_from": "0.00000",
        "line_b_from": "0.00000",
        "line_g_to": "0.00000",
        "line_b_to": "0.00000",
        "length": "0",
        "owner_1": "1",
        "fraction_1": "1.000",
        "x": 1070,
        "y": 1020,
        "wires": [
            [
                "864435561a6cd5a8"
            ]
        ]
    },
    {
        "id": "5bd5912cbee818bc",
        "type": "branch-data",
        "z": "28664c9fe7a35e11",
        "name": "Branch 17",
        "from_bus_number": "9",
        "to_bus_number": "14",
        "line_r": "0.12711",
        "line_x": "0.27038",
        "charging_b": "0.000000",
        "rate_1": "0.0",
        "rate_2": "0.0",
        "rate_3": "0.0",
        "line_g_from": "0.00000",
        "line_b_from": "0.00000",
        "line_g_to": "0.00000",
        "line_b_to": "0.00000",
        "length": "0",
        "owner_1": "1",
        "fraction_1": "1.000",
        "x": 1070,
        "y": 1080,
        "wires": [
            [
                "8439764c1d6cbcc2"
            ]
        ]
    },
    {
        "id": "77b2978cf92599f7",
        "type": "branch-data",
        "z": "28664c9fe7a35e11",
        "name": "Branch 18",
        "from_bus_number": "10",
        "to_bus_number": "11",
        "line_r": "0.08205",
        "line_x": "0.19207",
        "charging_b": "0.000000",
        "rate_1": "0.0",
        "rate_2": "0.0",
        "rate_3": "0.0",
        "line_g_from": "0.00000",
        "line_b_from": "0.00000",
        "line_g_to": "0.00000",
        "line_b_to": "0.00000",
        "length": "0",
        "owner_1": "1",
        "fraction_1": "1.000",
        "x": 690,
        "y": 500,
        "wires": [
            [
                "6633938d2b1b0fef"
            ]
        ]
    },
    {
        "id": "31bdac7807fa81e2",
        "type": "branch-data",
        "z": "28664c9fe7a35e11",
        "name": "Branch 19",
        "from_bus_number": "12",
        "to_bus_number": "13",
        "line_r": "0.22092",
        "line_x": "0.19988",
        "charging_b": "0.000000",
        "rate_1": "0.0",
        "rate_2": "0.0",
        "rate_3": "0.0",
        "line_g_from": "0.00000",
        "line_b_from": "0.00000",
        "line_g_to": "0.00000",
        "line_b_to": "0.00000",
        "length": "0",
        "owner_1": "1",
        "fraction_1": "1.000",
        "x": 650,
        "y": 600,
        "wires": [
            [
                "893011a3a0981d82"
            ]
        ]
    },
    {
        "id": "f45c3408d6bf165a",
        "type": "branch-data",
        "z": "28664c9fe7a35e11",
        "name": "Branch 20",
        "from_bus_number": "13",
        "to_bus_number": "14",
        "line_r": "0.17093",
        "line_x": "0.34802",
        "charging_b": "0.000000",
        "rate_1": "0.0",
        "rate_2": "0.0",
        "rate_3": "0.0",
        "line_g_from": "0.00000",
        "line_b_from": "0.00000",
        "line_g_to": "0.00000",
        "line_b_to": "0.00000",
        "length": "0",
        "owner_1": "1",
        "fraction_1": "1.000",
        "x": 570,
        "y": 420,
        "wires": [
            [
                "5341f1014aaa5242"
            ]
        ]
    },
    {
        "id": "a1ed2f688c99a2f7",
        "type": "generator-data",
        "z": "28664c9fe7a35e11",
        "name": " Gen 1",
        "Bus_Number": " 1",
        "PGen_MW": " 243.4190",
        "QGen_Mvar": " -4.0820",
        "QMax_Mvar": " 100.0000",
        "QMin_Mvar": " -50.0000",
        "VSched_pu": " 1.0300",
        "Remote_Bus": " 0",
        "Mbase_MVA": " 320.00",
        "R_Source_pu": " 0.000000",
        "X_Source_pu": " 0.230000",
        "RTran_pu": "  0.000000",
        "XTran_pu": "  0.000000",
        "Gentap_pu": " 1.00000",
        "x": 450,
        "y": 80,
        "wires": [
            [
                "c03e901867b3e9a3"
            ]
        ]
    }
]